#container {
	padding: 20px;
	margin: 20px auto;
	width: 500px;
	border: 1px solid #000;
}

#logo {
	font-size: 60px;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	text-align: center;
	border-bottom: 1px solid #000;
}

#nav {
	border-bottom: 1px solid #000;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

.page {
	margin-bottom: 60px;
}